*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #235287;
}
.card-container1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card1{
    width: 325px;
    background-color: #f1f1f1;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 2p 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card1 img{
    width: 100%;
    height: auto;
}

.class-content1{
    padding: 16px;
}
.class-content1{
    font-size: 15x;
    margin-bottom: 8px;
}


.class-content1 .btn1{
    display: inline-block;
    padding: 15px 35px;
    background: linear-gradient(#e4293a, #e429397e);
    text-decoration: none;
    margin-top: 16px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    
}

.class-content1 .btn1:hover{
    color: rgb(247, 245, 245);
    transform: scale(1.1);

}