
*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#235287);
    height: 100vh;
}

header img{
    width: 300px;
}
a{
    color: black;
    text-decoration: none;
}
header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: white;
    border: 2px solid #e4293a;


}

header button{
    padding: 10px 12px;
    background: linear-gradient(#e4293a,#e429397e );
    border-radius: 20px;
    padding: 15px 20px;
}

header button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.btn-cont img{
    width: 15px;
}
.btn-cont span{
    font-weight: bold;
}


header ul{
    display: flex;
    list-style: none;
    font-size: 15px;        
    font-weight: bold;  
}

header ul li{
    margin-right: 25px;  
    border: 1px solid black;
    padding: 5px 0px;
}

header ul li a{
    padding: 6px 10px;  
}

header ul li a:hover{
    background: linear-gradient(#e4293a,#e429397e );
    color: black;

    
}

div img{
    display: flex;
    margin: 50px 220px;
}

.size-div{
    margin: 10px;
}


footer{
    background-image: gray;
    padding-top: 50px;
}

.footer{
    width: 33.3%;
}

