<footer>
      <div class="container">
        <div class="footer-content">
          <h3>بيانات التواصل</h3>
          <a href="mailto:?subject=Check%20this%20https://aiss.co/"><p>Email:aiss@aiss.co</p></a>
          <a href="https://wa.me/+971568305900"><p>Number:+971 56 830 5900</p></a>
         <a href="https://maps.app.goo.gl/AS11VhiknLbc2a1r5"><p>Adress:Dubai, United Arab Emirates <img src="assets/icons/location.png" /></p></a> 
        </div>

        <div class="footer-content">
          <h3>روابط سريعة</h3>
          <ul class="list">
            <li><a href="news.html">النشرات الاخبارية</a></li>
            <li><a href="inquiries.html">الاستفسارات</a></li>
            <li><a href="fast/certificate.html">الشهادات</a></li>
            <li><a href="fast/jobs.html">الوظائف</a></li>
            <li><a href="fast/memberships.html">العضويات</a></li>
            <li><a href="fast/about.html">عن المعهد</a></li>
          </ul>
        </div>
        <div class="footer-content">
          <h3>تابعنا</h3>
          <li>
            <a href="https://www.facebook.com/aissorg"
              ><img
                src="assets/icons/facebook.png"
                alt="facebook-logo"
                style="width: 30px"
            /></a>
          </li>
          <li>
            <a href="mailto:?subject=Check%20this%20https://aiss.co/"
              ><img src="assets/icons/email.png" alt="email-logo" style="width: 30px"
            /></a>
          </li>
          <li>
            <a href="https://t.me/+32qZLTmtsddlZjA0"
              ><img
                src="assets/icons/telegram.png"
                alt="telegram-logo"
                style="width: 30px"
            /></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/%d8%a7%d9%84%d9%85%d8%b9%d9%87%d8%af-%d8%a7%d9%84%d8%b9%d8%b1%d8%a8%d9%8a-%d9%84%d8%b9%d9%84%d9%88%d9%85-%d8%a7%d9%84%d8%b3%d9%84%d8%a7%d9%85%d8%a9-aiss"
              ><img
                src="assets/icons/linkedin.png"
                alt="linkedin-logo"
                style="width: 30px"
            /></a>
          </li>
          <li>
            <a href="https://youtube.com/channel/UCaYDjluZ2hSspCFPefhMudw"
              ><img
                src="assets/icons/youtube.png"
                alt="youtube-logo"
                style="width: 30px"
            /></a>
          </li>
          <li>
            <a href="https://chat.whatsapp.com/G3YSj99LD6TJAQT7FfNpsH"
              ><img
                src="assets/icons/whatsapp.png"
                alt="whatsapp-logo"
                style="width: 30px"
            /></a>
          </li>
          <li>
            <a href="https://twitter.com/aissorg"
              ><img
                src="assets/icons/twitter.png"
                alt="twitter-logo"
                style="width: 30px"
            /></a>
          </li>
        </div>
      </div>
      
      <!--قسم سياسة الخصوصية-->
      <div class="bottom-bar">
         <p>المعهد العربي لعلوم السلامة 2026 © جميع الحقوق محفوظة</p>
        <p>
          <a href="terms.html">الشروط و الأحكام</a> | <a href="privacy.html">سياسة الخصوصية </a>
          <img src="assets/icons/visa.png" />
        </p>
      </div>
    </footer>